/* line 1, ../../sass/modules/commerce_billy.scss */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* line 5, ../../sass/modules/commerce_billy.scss */
.header {
  width: 100%;
  position: relative;
  font-weight: bold;
  margin-bottom: 25px;
}
/* line 12, ../../sass/modules/commerce_billy.scss */
.header img {
  width: 400px;
  height: auto;
}
/* line 16, ../../sass/modules/commerce_billy.scss */
.header .invoice-number,
.header .invoice-header-date {
  text-align: center;
  float: right;
  position: absolute;
}
/* line 22, ../../sass/modules/commerce_billy.scss */
.header .invoice-number {
  width: 150px;
  right: 50px;
  top: 10px;
}
/* line 27, ../../sass/modules/commerce_billy.scss */
.header .invoice-header-date {
  width: 200px;
  right: 25px;
  top: 50px;
}

/* line 34, ../../sass/modules/commerce_billy.scss */
.invoice-header {
  font-size: 14px;
  color: #646464;
  text-align: right;
}

/* line 40, ../../sass/modules/commerce_billy.scss */
.billing, .line-items .view-commerce-line-item-table table {
  border: 2px solid #b9b9b9;
  font-size: 12px;
}
/* line 44, ../../sass/modules/commerce_billy.scss */
.billing .billing-header, .line-items .view-commerce-line-item-table table .billing-header, .line-items .view-commerce-line-item-table table thead th {
  font-weight: bold;
  background: #cccccc;
  padding: 5px;
}
/* line 49, ../../sass/modules/commerce_billy.scss */
.billing .customer, .line-items .view-commerce-line-item-table table .customer, .line-items .view-commerce-line-item-table table td {
  padding: 5px;
}
/* line 52, ../../sass/modules/commerce_billy.scss */
.billing .customer > div > div, .line-items .view-commerce-line-item-table table .customer > div > div, .line-items .view-commerce-line-item-table table td > div > div {
  font-size: 0;
}
/* line 55, ../../sass/modules/commerce_billy.scss */
.billing .customer > div > div div, .line-items .view-commerce-line-item-table table .customer > div > div div, .line-items .view-commerce-line-item-table table td > div > div div {
  font-size: 12px;
}
/* line 58, ../../sass/modules/commerce_billy.scss */
.billing .customer > div > div div > div > div > div:first-child > div:first-child, .line-items .view-commerce-line-item-table table .customer > div > div div > div > div > div:first-child > div:first-child, .line-items .view-commerce-line-item-table table td > div > div div > div > div > div:first-child > div:first-child {
  font-weight: bold;
}

/* line 66, ../../sass/modules/commerce_billy.scss */
.line-items {
  margin-top: 100px;
}
/* line 70, ../../sass/modules/commerce_billy.scss */
.line-items .view-commerce-line-item-table table {
  width: 100%;
  line-height: 1.2em;
  border-collapse: collapse;
}
/* line 76, ../../sass/modules/commerce_billy.scss */
.line-items .view-commerce-line-item-table table thead th {
  text-align: center;
}
/* line 81, ../../sass/modules/commerce_billy.scss */
.line-items .view-commerce-line-item-table table td {
  text-align: center;
  height: 30px;
  border-bottom: 1px solid #e7e7e7;
}
/* line 88, ../../sass/modules/commerce_billy.scss */
.line-items .view-commerce-line-item-table table .views-field-commerce-total {
  text-align: right;
  width: 200px;
}
/* line 93, ../../sass/modules/commerce_billy.scss */
.line-items .view-commerce-line-item-table table .views-field-line-item-title-1 {
  text-align: left;
  width: 300px;
}
/* line 98, ../../sass/modules/commerce_billy.scss */
.line-items .view-commerce-line-item-table table .views-field-line-item-label {
  display: none;
}
/* line 104, ../../sass/modules/commerce_billy.scss */
.line-items .order-total table {
  font-weight: bold;
  width: 100%;
}
/* line 108, ../../sass/modules/commerce_billy.scss */
.line-items .order-total table td.component-title {
  text-align: right;
  padding-right: 5px;
  font-size: 12px;
}
/* line 114, ../../sass/modules/commerce_billy.scss */
.line-items .order-total table td.component-total {
  text-align: right;
  width: 80px;
  background: #cccccc;
}

/* line 123, ../../sass/modules/commerce_billy.scss */
.text {
  position: absolute;
  top: 300px;
}

/* line 128, ../../sass/modules/commerce_billy.scss */
.invoice-footer {
  border-top: 1px solid #e0e0e0;
  width: 100%;
  font-size: 10px;
  color: #1d1d25;
  text-align: center;
  padding-top: 4px;
  position: absolute;
  bottom: 0;
}

/* line 139, ../../sass/modules/commerce_billy.scss */
.invoice-text {
  margin-top: 50px;
}

/* line 143, ../../sass/modules/commerce_billy.scss */
.contextual-links-wrapper {
  display: none;
}

/* line 147, ../../sass/modules/commerce_billy.scss */
.invoice-canceled .order-total table {
  border: 2px solid black;
  margin-top: 100px;
}

/* line 152, ../../sass/modules/commerce_billy.scss */
.customer .street-block, .line-items .view-commerce-line-item-table table td .street-block {
  overflow: hidden;
}
/* line 155, ../../sass/modules/commerce_billy.scss */
.customer .street-block div.thoroughfare, .line-items .view-commerce-line-item-table table td .street-block div.thoroughfare {
  margin-left: -10px;
}

/* line 160, ../../sass/modules/commerce_billy.scss */
.field-name-field-global {
  display: none;
}
