/* line 1, ../../sass/modules/commerce_billy.scss */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* line 5, ../../sass/modules/commerce_billy.scss */
.header {
  width: 100%;
  position: relative;
  font-weight: bold;
  margin-bottom: 25px;
}
/* line 12, ../../sass/modules/commerce_billy.scss */
.header img {
  width: 400px;
  height: auto;
}
/* line 16, ../../sass/modules/commerce_billy.scss */
.header .invoice-number,
.header .invoice-header-date {
  text-align: center;
  float: right;
  position: absolute;
}
/* line 22, ../../sass/modules/commerce_billy.scss */
.header .invoice-number {
  width: 150px;
  right: 50px;
  top: 10px;
}
/* line 27, ../../sass/modules/commerce_billy.scss */
.header .invoice-header-date {
  width: 200px;
  right: 25px;
  top: 50px;
}

/* line 34, ../../sass/modules/commerce_billy.scss */
.invoice-header {
  font-size: 14px;
  color: #646464;
  text-align: right;
}

/* line 40, ../../sass/modules/commerce_billy.scss */
.billing {
  position: relative;
}
/* line 43, ../../sass/modules/commerce_billy.scss */
.billing .customer, .billing .line-items .view-commerce-line-item-table table td, .line-items .view-commerce-line-item-table table .billing td, .billing .customer-shipping {
  border: 2px solid #b9b9b9;
  font-size: 12px;
  width: 45%;
}
/* line 49, ../../sass/modules/commerce_billy.scss */
.billing .customer > div > div:first-child, .billing .line-items .view-commerce-line-item-table table td > div > div:first-child, .line-items .view-commerce-line-item-table table .billing td > div > div:first-child, .billing .customer-shipping > div > div:first-child {
  font-weight: bold;
  background: #cccccc;
  padding: 5px;
}
/* line 54, ../../sass/modules/commerce_billy.scss */
.billing .customer > div > div:first-child div, .billing .line-items .view-commerce-line-item-table table td > div > div:first-child div, .line-items .view-commerce-line-item-table table .billing td > div > div:first-child div, .billing .customer-shipping > div > div:first-child div {
  font-size: 12px;
}
/* line 57, ../../sass/modules/commerce_billy.scss */
.billing .customer > div > div:first-child div > div > div > div:first-child > div:first-child, .billing .line-items .view-commerce-line-item-table table td > div > div:first-child div > div > div > div:first-child > div:first-child, .line-items .view-commerce-line-item-table table .billing td > div > div:first-child div > div > div > div:first-child > div:first-child, .billing .customer-shipping > div > div:first-child div > div > div > div:first-child > div:first-child {
  font-weight: bold;
}
/* line 60, ../../sass/modules/commerce_billy.scss */
.billing .customer > div > div:first-child div div, .billing .line-items .view-commerce-line-item-table table td > div > div:first-child div div, .line-items .view-commerce-line-item-table table .billing td > div > div:first-child div div, .billing .customer-shipping > div > div:first-child div div {
  font-weight: normal;
}
/* line 65, ../../sass/modules/commerce_billy.scss */
.billing .customer > div > div > div, .billing .line-items .view-commerce-line-item-table table td > div > div > div, .line-items .view-commerce-line-item-table table .billing td > div > div > div, .billing .customer-shipping > div > div > div {
  padding: 2px 5px;
}
/* line 70, ../../sass/modules/commerce_billy.scss */
.billing .customer-shipping {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 75, ../../sass/modules/commerce_billy.scss */
.billing .customer-shipping .field-name-field-end-customer,
.billing .customer-shipping .field-name-field-purchase-order-number,
.billing .customer-shipping .field-name-field-packaging-comment,
.billing .customer-shipping .field-name-field-shipping-label-comment {
  display: none;
}

/* line 84, ../../sass/modules/commerce_billy.scss */
.line-items {
  margin-top: 100px;
}
/* line 88, ../../sass/modules/commerce_billy.scss */
.line-items .view-commerce-line-item-table table {
  border: 2px solid #b9b9b9;
  font-size: 12px;
  width: 100%;
  line-height: 1.2em;
  border-collapse: collapse;
}
/* line 95, ../../sass/modules/commerce_billy.scss */
.line-items .view-commerce-line-item-table table thead th {
  font-weight: bold;
  background: #cccccc;
  padding: 5px;
  text-align: center;
}
/* line 102, ../../sass/modules/commerce_billy.scss */
.line-items .view-commerce-line-item-table table td {
  text-align: center;
  height: 30px;
  border-bottom: 1px solid #e7e7e7;
  padding: 0 5px;
}
/* line 110, ../../sass/modules/commerce_billy.scss */
.line-items .view-commerce-line-item-table table .views-field-commerce-total {
  text-align: right;
  width: 200px;
}
/* line 115, ../../sass/modules/commerce_billy.scss */
.line-items .view-commerce-line-item-table table .views-field-line-item-title-1 {
  text-align: left;
  width: 300px;
}
/* line 122, ../../sass/modules/commerce_billy.scss */
.line-items .order-total table {
  font-weight: bold;
  width: 100%;
}
/* line 126, ../../sass/modules/commerce_billy.scss */
.line-items .order-total table td.component-title {
  text-align: right;
  padding-right: 5px;
  font-size: 12px;
}
/* line 132, ../../sass/modules/commerce_billy.scss */
.line-items .order-total table td.component-total {
  padding-right: 5px;
  text-align: right;
  width: 80px;
  background: #cccccc;
}

/* line 141, ../../sass/modules/commerce_billy.scss */
.text {
  position: absolute;
  top: 300px;
}

/* line 146, ../../sass/modules/commerce_billy.scss */
.invoice-footer {
  border-top: 1px solid #e0e0e0;
  width: 100%;
  font-size: 10px;
  color: #1d1d25;
  text-align: center;
  padding-top: 4px;
  position: absolute;
  bottom: 0;
}

/* line 157, ../../sass/modules/commerce_billy.scss */
.invoice-text {
  margin-top: 50px;
}

/* line 161, ../../sass/modules/commerce_billy.scss */
.contextual-links-wrapper {
  display: none;
}

/* line 165, ../../sass/modules/commerce_billy.scss */
.invoice-canceled .order-total table {
  border: 2px solid black;
  margin-top: 100px;
}

/* line 170, ../../sass/modules/commerce_billy.scss */
.customer .street-block, .line-items .view-commerce-line-item-table table td .street-block {
  overflow: hidden;
}
/* line 173, ../../sass/modules/commerce_billy.scss */
.customer .street-block div.thoroughfare, .line-items .view-commerce-line-item-table table td .street-block div.thoroughfare {
  margin-left: -10px;
}

/* line 178, ../../sass/modules/commerce_billy.scss */
.field-name-field-global {
  display: none;
}
