.not-front .pane-page-title {
  text-align: center;
  padding: 3px 0;
  background: #ABC4DE; 
  margin: 0 -30px 20px -30px;
  
  h1 {
  display: inline;
  color: white;
  font-family: $font-stack;
  font-size: 19px;
  font-weight: 100;
    
    &:before {
      font-family: FontAwesome;
      content: "\f0c2";
      padding-right: 15px;
    }
  }
  
  p {
    display: inline;
    color: white;
    font-family: $font-stack;
    font-size: 24px;
    font-weight: 100;
  }
}

@media screen and (max-width: 1600px) {
  .container, 
  .header-group,
  #node-content h1,
  #node-content p, .catalog-prod{max-width: 900px!important;}
  
  .pane-footer .row {max-width: 930px!important;}
  .pane-views-slideshow-block .carousel-inner {max-width: 780px!important;}
}

//Horizonal Tabs
.field-group-htabs-wrapper  {
  @include make-xs-column(12);
  @include make-md-column(12);
  @include make-sm-column(12);
  margin-top: 35px;

  ul.horizontal-tabs-list {
    border-bottom: 1px solid #dedede;
    background: none;

    li {
      background: none;

      &.selected {
        background: url(../images/ribbon-bg.png)
      }

      a {
        color: #7c7a7a;
        font-family: $font-stack;
        font-size: 18px;
        font-weight: 300;
      }

      & strong {
        font-weight: 100;
      }
    }
  }
}