.page-checkout {
	.customer_profile_billing > .panel-body > .form-item-customer-profile-billing-addressbook {
		display: none;
	}
	.street-block > .form-item-customer-profile-billing-commerce-customer-address-und-0-thoroughfare {
		display: none;
	}
	.address1 {
		clear: both; 
	}
}