.page-estore {

  .pane-page-breadcrumb {
    display: none;
  }

  .pane-page-title {
    margin-bottom: 0;
  }

  .view-catalog {
    @include make-xs-column(10);
    @include make-sm-column(10);
    @include make-md-column(10);
    padding: 0;
  }
}